#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

#modal:focus {
  outline: none;
}

li {
  counter-increment: custom;
}

ol li:before {
  content: counter(custom) " ";
}
